.page__footer {
  background-color: $color-greyish-brown;
  color: $color-white;
  height: 433px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 30px ;
  position: relative;
}
.footer {
  padding-top:40px;
  z-index: 0;
  font-size: 1rem;
}
.list_menu {
  padding-top: 30px;
  list-style-type: none;
  font-size: 1rem;
}
.btn_up {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: $color-white;
  position: absolute;
  top:-18px;
  left: 50%;
  transform: translateX(-50%);
}
.footer_link {
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
}
.heart {
  padding-top: 10px;
  font-size: 1rem;
}

