.page__footer {
  background-color: $color-greyish-brown;
  color: $color-white;
  
  height: 433px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 30px ;
  position: relative;
}
.footer {
  padding-top:40px;
  z-index: 0;
}
.list_menu {
  padding-top: 40px;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
}
.btn_up {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:-18px;
  left: 50%;
  transform: translateX(-50%);
}

