header {
  background-color: $color-moss-green;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
header img {
  width: 14px;
  height: 13px;
}