<footer class="page__footer">
  <div class="btn_up">
    <img src="../images/ico-arrow.svg" alt="Imágen flecha apuntando hacia arriba">
  </div>
  
  <div>
    <ul class="list_menu">
      <li>Zapatillas</li>
      <li>Ropa</li>
      <li>Niño/a</li>
      <li>Destacados</li>
      <li>Tips</li>
    </ul>
  </div>
  <div>
    <ul class="list_menu">
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Youtube</li>
    </ul>

    <div class="footer">
    &copy;2023
    <p>we ❤︎ run</p>
  </div>
  </div>
</footer>
