<footer class="page__footer">
  <div class="btn_up display_flex_center">
    <a href="#hero"><img src="../images/ico-arrow.svg" alt="Imágen flecha apuntando hacia arriba"></a>
  </div>
  <ul class="list_menu">
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Zapatillas</a></li>
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Ropa</a></li>
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Niño/a</a></li>
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Destacados</a></li>
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Tips</a></li>
  </ul>
    <ul class="list_menu">
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Tuitter</a></li>
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Instagram</a></li>
    <li><a class="footer_link" href="https://adalab.es" target="_blank">Youtube</a></li>
  </ul>
  <small>&copy;2023</small>
  <p class="heart">we 💚 run</p>
  
</footer>
