<main class="page__main">
  <section class="hero" id="hero">
    <div class="hero_container">
      <h1 class="hero_title">Comienzos</h1>
      <h1 class="hero_title">compartidos</h1>
      <div class="paragraph_two">
      <p class="hero_subtitle">Todo lo que necesitas para volver</p>
      <p class="hero_subtitle">al cole con ilusión</p>
      </div> 
      <div class="scroll_down display_flex_center">
        <a href="#shop"><img src="../images/ico-scroll-down.svg" alt="Imágen flecha apuntando hacia abajo"></a>
      </div>
    </div>
  </section>
  <section class="article">
    <h3 class="article_subtitle">Historia, moda y ropa deportiva</h3>
    <h2 class="article_title">Tu tienda de deporte</h2>
    <p class="article_text">El deporte nos mantiene en forma. Nos mantiene en alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
    <a class="btn_buy" href=" https://adalab.es" target="_blank">Comprar</a>
  </section>
  <section class="shop" id="shop">
    <h3 class="shop_subtitle">¡Préparalos con tus marcas favoritas!</h3>
    <h2 class="shop_title">La vuelta al cole</h2>
    <div class="shop_container">
      <article class="shop_article">
        <img class="shop_img" src="../images/lpbts-mod05-img01-desk.png" alt="Imágen de niña con una mochila">
        <p class="shop_description">Mochilas escolares</p>
      </article>
      <article class="shop_article">
        <img class="shop_img" src="../images/lpbts-mod05-img03-mob.png" alt="Imágen de niño con estuche en la mano">
        <p class="shop_description">Estuches</p>
      </article>
      <article class="shop_article">
        <img class="shop_img" src="../images/lpbts-mod05-img04-mob.png" alt="Imágen niña con una bolsa de deporte">
        <p class="shop_description">Bolsas de deporte</p>
      </article>
    </div>      
    <a href="https://adalab.es" target="_blank" class="btn_start_now display_flex_center">Empezar ahora</a>
  </section>
</main>
